# Apple
.DS_Store
.AppleDouble

# Thumbnails
._*

# Logs
*.log

# Coverage directory used by tools like istanbul
coverage

# Dependency directory
node_modules
public/*
!public/index.html
.nyc_output

# Distribution
dist
